.k-button
  cursor pointer
  align-items center
  border-radius 50px
  display inline-flex
  height 54px
  flex 0 1 auto
  font-size 16px
  font-weight 600
  justify-content center
  margin 10px
  min-width 80px
  outline 0
  text-transform uppercase
  text-decoration none
  transition .5s
  position relative
  vertical-align middle
  user-select none
  border none
  background linear-gradient(to right, rgb(0, 137, 217) 0%, rgb(80, 255, 245) 51%, rgb(0, 137, 217) 100%)
  background-size 200% auto

  &:hover
    background-position right center
